.footer {
  width: 100%;
  background-color: #f2f2f2;
  padding: 1rem 0rem 2rem 0rem;
}

.footer__copy {
  text-align: center;
  margin: 1rem 0 2rem 0;
  color: #878b8e;
  font-size: 14px;
}

.footer__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.footer__icon--hover:hover {
  cursor: pointer;
  color: var(--google-blue);
}

@media all and (min-width: 550px) {
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
  }

  .footer__copy {
    margin: 0;
  }

  .footer__list {
    width: 20%;
    justify-content: end;
    margin-right: 56px;
  }

  .footer__icon {
    margin-right: 1rem;
  }
}
