@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --google-blue: #4285f3;
  --google-red: #ea4435;
  --google-yellow: #fbbd03;
  --google-green: #33a852;
  --gray-text: #9aa0a5;
  background-color: #f2f2f2;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a,
a:visited {
  color: black;
  outline: none;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.wrapper {
  width: 90%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.nav__itemGroup {
  display: flex;
  flex-basis: 30%;
  justify-content: space-between;
}

.nav__item {
  list-style-type: none;
}

/* HEADER */
.header__title {
  margin-top: calc(100vh - 99vh + 2rem);
  margin-bottom: 1rem;
  font-size: 4.5rem;
  font-family: "Lato", sans-serif;
  letter-spacing: -0.3rem;
}

.header__a,
.header__r {
  color: var(--google-blue);
}

.header__n,
.header__w {
  color: var(--google-red);
}

.header__d {
  color: var(--google-yellow);
}

.header__e {
  color: var(--google-green);
}

/* LUCK Buttton */
.luckButton {
  margin-top: 1rem;
  background-color: #f8f9fa;
  width: 150px;
  height: 3rem;
  text-align: center;
  vertical-align: center;
  font-size: 14px;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.luckButton--hover:hover {
  /* border: 1px solid #9aa0a5; */
  border-radius: 0.3rem;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  background-color: var(--google-blue);
  color: white;
}

/* PSEUDO INPUT */
.input {
  display: flex;
  width: 90%;
  border: 1px solid #9aa0a5;
  border-radius: 3rem;
}

.input__button {
  margin: 0.8rem 0;
  padding-left: 1rem;
  color: #9aa0a5;
}

.input__text {
  margin: 0.8rem 0;
  padding-left: 1.5rem;
}

/* CARD FORMAT 1 */
.card {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: 1.5rem auto 2rem;
  border: 1px solid transparent;
  border-radius: 1rem;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
}

.card--hover:hover {
  opacity: 0.4;
  cursor: pointer;
}

.card__image {
  /* object-fit: fill;
  border: 1px solid transparent; */
  /* border-radius: 2rem 2rem 0 0; */
  width: 100%;
}

img {
  width: 100%;
  height: auto;
}

.card__content {
  width: 90%;
  margin: 0px 3rem 0px 1rem;
}
.card__img {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.card__headline {
  margin: 0.5rem 0 0 0;
  font-size: 18px;
}

.card__copy {
  font-size: 14px;
  margin-bottom: 0;
}

.card__footer {
  display: flex;
}
.card__footerIcon {
  margin: 16px 0;
}
.card__footerCopy {
  padding-left: 1rem;
  font-size: 12px;
  align-self: center;
}

.card__author {
  padding-right: 1rem;
}

/* ALTERNATIVE CARD */
.card__content.alt {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 1rem 1rem 0px 1rem;
}

.card__text.alt {
  flex-basis: 60%;
}

.card__image.alt {
  margin-top: 1rem;
  flex-basis: 30%;
}

.card__img.alt {
  border-radius: 1rem;
}

@media all and (min-width: 550px) {
  [class*="card"] {
    display: none;
    visibility: none;
  }
  .wrapper {
    width: 100%;
  }
  .header {
    flex-basis: 100%;
  }
  .input {
    flex-basis: 75%;
  }

  .luckButton {
    flex-basis: 200px;
  }
  /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
}
